@font-face {
  font-family: "Patrick";
  src: url("../fonts/PatrickHand-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gochi";
  src: url("../fonts/GochiHand-Regular.woff2") format("woff2");
}

@keyframes marquee-centre {
  from {
    left: -200%;
  }
  to {
    left: 100%;
  }
}

@keyframes marquee-cote {
  from {
    left: -700%;
  }
  to {
    left: 100%;
  }
}

:root {
  --rotation: 90deg;

  /* teinte principale en HSL, et on change la saturation et la luminosité pour faires les ombres */
  /* → 0 = rouge, 120 = vert, 240 = bleu et 360 encore rouge logiquement */
  --murs: 20;
  --profondeur-piece: 30vw;

  --couleur-nuit: hsl(222, 30%, 15%);
  --glow: #adebc6;

  /* animation */
  --duration: 5s;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: var(--couleur-nuit);
}

section {
  position: fixed;
  top: 2em;
  left: 2em;
  display: flex;
  flex-flow: column nowrap;
  z-index: 50;
}

h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  max-width: 100%;
  z-index: 10;

  display: none;
}

main {
  background: none;
  perspective: 100vw;
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.murs {
  font-family: "Patrick", sans-serif;
  font-size: 1.3em;
  position: absolute;
  overflow: hidden;
}

#ceiling,
#floor {
  height: var(--profondeur-piece);
  width: 100%;
}

#left,
#right {
  height: 100%;
  width: var(--profondeur-piece);
  border-left: none;
  border-right: none;

  text-shadow: 0 0 0.2em var(--glow), 0 0 0.3em var(--glow),
    0 0 0.5em var(--glow), 0 0 1em var(--glow), 0 0 2em var(--glow);
}

#ceiling {
  background-image: radial-gradient(
    hsl(var(--murs), 60%, 60%),
    hsl(var(--murs), 40%, 40%)
  );
  transform-origin: top;
  transform: rotateX(calc(var(--rotation) * -1));
  top: 0;
}

#floor {
  background-image: radial-gradient(hsl(31, 80%, 65%), hsl(31, 50%, 20%));
  transform-origin: bottom;
  transform: rotateX(var(--rotation));
  bottom: 0;
}

#center {
  background-image: linear-gradient(
    hsl(var(--murs), 70%, 60%),
    hsl(var(--murs), 70%, 60%)
  );
  width: 100vw;
  height: 100vh;
  transform: translateZ(calc(var(--profondeur-piece) * -1));
  text-shadow: 0 0 0.2em var(--glow), 0 0 0.3em var(--glow), 0 0 1em var(--glow);
}

#left {
  background-image: linear-gradient(
    hsl(var(--murs), 70%, 55%),
    hsl(var(--murs), 70%, 55%)
  );
  left: 0;
  transform-origin: left;
  transform: rotateY(var(--rotation));
}

#right {
  background: linear-gradient(
    hsl(var(--murs), 70%, 55%),
    hsl(var(--murs), 70%, 55%)
  );
  right: 0;
  transform-origin: right;
  transform: rotateY(calc(var(--rotation) * -1));
}

/* TEXTES ------------------------------------------------------------ */
.text-wrapper {
  height: 100%;
  position: absolute;
  left: 100%;
  width: max-content;
  will-change: transform;
}

span {
  position: relative;
  color: var(--glow);
  font-size: 4em;
  white-space: nowrap;
  position: relative;
  text-align: right;

  opacity: 0;
  top: 10%;
}

span:not(.etoile):nth-of-type(2n) {
  top: 35%;
  margin-left: 5em;
  margin-right: 10em;
}

span:not(.etoile):nth-of-type(3n) {
  top: 60%;
  margin-left: 6em;
  margin-right: 5em;
}

span:not(.etoile):nth-of-type(5n) {
  top: -5%;
  margin-left: 5em;
  margin-right: 10em;
}

.visible span {
  opacity: 1;
}

/* -------------------- ÉTOILES ET NUAGES -------------------- */
.etoile {
  font-size: 1.5em;
  padding-left: 12rem;
  padding-right: 10rem;
  vertical-align: -20%;
}

.etoile:nth-of-type(2n) {
  font-size: 3em;
  transform: rotateX(45deg);
  padding-left: 14rem;
  padding-right: 10rem;
  vertical-align: 20%;
}

.etoile:nth-of-type(3n) {
  font-size: 2em;
  transform: rotateX(-65deg);
  padding-left: 10rem;
  padding-right: 11rem;
  vertical-align: -60%;
}

.etoile:nth-of-type(5n) {
  font-size: 2.5em;
  transform: rotateX(95deg);
  padding-left: 10rem;
  padding-right: 12rem;
  vertical-align: 0;
}

span:not(.etoile):nth-of-type(2n) .abso {
  position: absolute;
  top: -50%;
  left: -50%;
}

span:not(.etoile):nth-of-type(3n) .abso {
  position: absolute;
  top: -80%;
  left: -20%;
}

span:not(.etoile):nth-of-type(5n) .abso {
  position: absolute;
  top: -30%;
  left: -80%;
}

/* -------------------- NUIT -------------------- */
.nuit #ceiling {
  background-image: radial-gradient(
      hsl(var(--murs), 60%, 60%) 20%,
      hsl(var(--murs), 60%, 40%)
    ),
    linear-gradient(var(--couleur-nuit), var(--couleur-nuit));
  background-blend-mode: multiply;
}

.nuit #floor {
  background-image: radial-gradient(hsl(31, 80%, 65%) 1%, hsl(31, 50%, 20%)),
    linear-gradient(var(--couleur-nuit), var(--couleur-nuit));
  background-blend-mode: overlay;
}

.nuit #left,
.nuit #right {
  background-image: linear-gradient(
      hsl(var(--murs), 70%, 55%),
      hsl(var(--murs), 70%, 55%)
    ),
    linear-gradient(var(--couleur-nuit), var(--couleur-nuit));
  background-blend-mode: multiply;
}

.nuit #center {
  background-image: linear-gradient(
      hsl(var(--murs), 70%, 60%),
      hsl(var(--murs), 70%, 60%)
    ),
    linear-gradient(var(--couleur-nuit), var(--couleur-nuit));
  background-blend-mode: multiply;
}

#porte,
#ouverture {
  height: 55%;
  width: 35%;
  position: absolute;
  bottom: 0;
  left: 65%;
}

#ouverture {
  background: #0a0a0a;
  border: inset #444 10px;
  border-right-width: 5px;
  border-bottom: none;
}

#porte {
  backface-visibility: hidden;
  transform-origin: left;
  background: #222222;
  transform: rotateY(-80deg);
  transition: transform 2s, background 2s;
}

#porte.fermed {
  background: gray;
  transform: rotateY(0) !important;
}

.nuit #porte{
  background: #222;
  background-image: linear-gradient(var(--couleur-nuit), var(--couleur-nuit));
  background-blend-mode: multiply;
}

.nuit #porte.fermed {
  background: var(--couleur-nuit);
  background-image: linear-gradient(gray, gray);
  background-blend-mode: multiply;
}

#poignee {
  border-radius: 50%;
  height: 1em;
  width: 1em;
  background: radial-gradient(hsl(12, 30%, 35%), hsl(12, 30%, 15%));
  position: absolute;
  top: 45%;
  right: 0.5em;
}

.nuit #poignee {
  background: none;
  background-image: radial-gradient(hsl(12, 30%, 35%), hsl(12, 30%, 15%)),
    linear-gradient(var(--couleur-nuit), var(--couleur-nuit));
  background-blend-mode: multiply;
}

/* BOUTONS ------------------------------------------------------------ */

section button {
  display: none;
  font-size: 1em;
  padding: 0.2em 0.5em;
}

#ceparti {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.2em 0.5em;
  font-size: 2em;
  transition: opacity 1s;
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 648px) {
/* performance sur mobile (genre firefox) */
  #left,
  #center,
  #right {
    text-shadow: none;
  }

}
