@font-face {
    font-family: "Pressuru";
    src: url("../fonts/pressuru.woff2") format("woff2");
}

@font-face {
    font-family: "Gochi";
    src: url("../fonts/GochiHand-Regular.woff2") format("woff");
}

@font-face {
    font-family: "Credible";
    src: url("../fonts/Crédible-Regular.woff") format("woff");
}

:root {
    --background: black;
    --foreground: white;
}

html,
body {
    height: 100%;
    width: 100%;
    color: var(--foreground);
    overflow: hidden;
}

main {
    font-family: "Pressuru";
    background: var(--foreground);
    height: 100%;
    width: 100%;
    transform: scale(0);
    opacity: 0;
    transition: transform 2s linear,
		opacity 2s linear;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-family: "Credible";
}

p:not(.enchaine) {
    -webkit-text-stroke: black 1px;
    z-index: 5;
}

#instru {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#progress {
    position: fixed;
    bottom: 1.5em;
    left: .5em;
    font-size: 2em;
}

#slides {
    background: var(--background);
    height: 100%;
    width: 100%;
    padding: .5em;
    gap: .5em;
}

#slides > div {
  display: none;
}

.sing {
    padding: 4rem 8rem;
    text-align: center;
    font-size: 5em;
    display: flex !important;
    gap: 0;
    line-height: 1.2;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#slides > div > *:not(:first-child) {
    opacity: 0
}

/* ---------- INTRO ---------- */
#par {
    font-size: .5em;
}

#nom {
    font-size: 2.5em;
    line-height: 1;
    word-wrap: anywhere;
}

/* ---------- ENCHAINE ---------- */
.enchaine {
    font-family: "Credible";
    font-size: 25vh;
    line-height: 1;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
}

.enchaine span {
    opacity: 0;
}

/* ---------- MOTO ---------- */
#moto {
    font-size: 7em;
    position: absolute;
    width: min-content;
    height: min-content;
    top: 60%;
    left: -20vw;
    transform-origin: bottom left;
    opacity: 0;
}

/* ---------- ceparti ---------- */
#ceparti {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .3em .5em;
    font-size: 3em;
}
