html {
  font-size: 20px; }

body {
  width: 100%; }
  body > header {
    font-family: "archivo";
    padding: 1rem;
    position: fixed;
    bottom: 0;
    right: 0.5rem; }
    body > header h1 > span {
      color: blue; }
  body .track {
    display: none; }

.controls {
  position: absolute;
  font-size: 1rem;
  margin: -4rem 0.5rem 0 1.5rem;
  display: flex;
  width: calc(100% - 2rem);
  font-family: "not-courr"; }
  .controls > div {
    padding: 0.25rem 0 0.25rem 0;
    margin: 0.5rem;
    background-color: white;
    border: solid 1px; }
  .controls .bar {
    width: 20rem;
    padding: 0; }
    .controls .bar .progress {
      width: 0;
      background-color: blue;
      height: 100%; }
  .controls .play,
  .controls .pause {
    width: 2rem;
    text-align: center; }
  .controls .play::before {
    content: "❙❙"; }
  .controls .pause::before {
    content: "▶"; }
  .controls .seconds {
    padding: 0.25rem 0.25rem 0.1rem 0.25rem; }

.slides > div {
  display: none; }

.slides div.sing {
  display: block;
  min-width: 100%;
  height: 100vh;
  padding: 4rem; }

@media only screen and (max-width: 1300px) {
  html {
    font-size: 14px; } }
