@page {
  size: A4 portrait;
}

body {
  margin-top: 0;
}

nav {
  display: none;
}

article {
  font-size: calc(var(--font-size) * 1pt);
  box-shadow: none;
  width: 100%;
  height: 100%;
}

article > div {
  box-shadow: none !important;
  padding: 0 8em;
}

.overlay::after {
  display: none;
}

article:hover #part1,
article:hover #part2,
article:hover #part3 {
  transform: translate3d(0, 0, 0) rotateX(0);
}

button {
  display: none !important;
}
