{% extends 'index.jinja.html' %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.11/dist/gsap.min.js"
            type="text/javascript"></script>
{% endblock %}

{% block content %}
    <section id="controls">
        <button id="lumiere" onclick="eteintLumiere()">lumiere</button>
        <button id="ferme-porte" onclick="fermePorte()">porte</button>
        <button id="defilement" onclick="defilementTexte()">défilement</button>
    </section>

    <h1>{ {{ titre_chanson }} }</h1>

    {% set directions = ["left", "right", "center"] %}
    <main>

        <div id="ceiling" class="murs"></div>
        <div id="floor" class="murs"></div>

        {% for cote in directions %}

            <div id="{{ cote }}" class="murs">

                {% if cote == "right" %}
                    <div id="ouverture"></div>
                    <div id="porte">
                        <div id="poignee"></div>
                    </div>
                {% endif %}

                <div class="text-wrapper">
                    <span class="encouragements">
                        <span class="etoile">★</span>
                        <span class="etoile">☾</span>
                        <span class="etoile abso">☾</span>
                        Ça va aller
                        <span class="etoile">★</span>
                        <span class="etoile abso">★</span>
                        <span class="etoile">☁</span>
                        <span class="etoile">★</span>
                    </span>

                    <span class="encouragements">
                        <span class="etoile">☁</span>
                        Respirez un grand coup
                        <span class="etoile">★</span>
                        <span class="etoile">☾</span>
                    </span>

                    {% for douce in phrases_douces %}
                        <span class="douces">
                            <span class="etoile">☄</span>
                            "{{ douce }}"
                            <span class="etoile">☁</span>
                            <span class="etoile">★</span>
                        </span>
                    {% endfor %}

                    <span class="encouragements">
                        <span class="etoile">☁</span>
                        Laissez vous porter par la douce musique
                        <span class="etoile">★</span>
                        <span class="etoile">☾</span>
                        <span class="etoile">☁</span>
                    </span>

                    <span class="encouragements">
                        <span class="etoile">★</span>
                        <span class="etoile">☄</span>
                        On est bien là, non ?
                        <span class="etoile">☁</span>
                        <span class="etoile">★</span>
                    </span>

                    {% for rime in phrases_rimes %}

                        <span class="rimes">
                            <span class="etoile">★</span>
                            <span class="etoile">☄</span>
                            "{{ rime }}"
                            <span class="etoile">★</span>
                            <span class="etoile">★</span>
                            <span class="etoile">☁</span>
                        </span>

                    {% endfor %}

                </div>

            </div>

        {% endfor %}

    </main>
    <div id="nuit"></div>

    <audio id="instru" preload="auto" controls>
        <source src="static/sounds/berceuse_v1.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
    </audio>


{% endblock %}
