<!DOCTYPE html>
<html lang="fr">

<head>
	<title>{{ titre }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="Author" content="Ham Bistros" />
	<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="static/css/{{ titre }}.css" />

	{% block head %}
	{% endblock %}

	<script type="text/javascript" src="static/js/{{ titre }}.js" defer> </script>
</head>

<body>
	<nav>
		<a href="index.html">(INDEX)</a>
		<a href="berceuse.html">→BERÇEUSE</a>
		<a href="lettre.html">→LETTRE</a>
		<a href="karaoke.html">→KARAOKE</a>
	</nav>

	{% block content %}
	{% endblock %}

	{% if titre == "index" %}
	<h1 style="padding-top: 1em; font-size: 3em; font-weight: bold;">Coucou ici c'est {{ titre }}.html</h1>

	<p>Le texte encadré d'{ accolades } est du texte extrait des questions posées. Le reste est prédéfini et reste le
		même pour tout le monde.</p>
	{% else %}
	<button id="ceparti" onclick="startAnimation()">CÉPARTI</button>

	{% endif %}

</body>

</html>
