{% extends 'index.jinja.html' %}

{% block head %}

    <link rel="stylesheet"
          type="text/css"
          media="print"
          href="static/css/lettre-print.css" />
{% endblock %}

{% block content %}
    <article id="page">

        <div id="part1">
            <li class="type droite" id="lieu">{{ lieu }}</li>

            <div class="adresse">
                <li class="type">{{ nom }}</li>
                <li class="type">{{ lieu }}</li>
                <li class="type">BELGIQUE</li>
            </div>

            <div class="adresse droite">
                <li class="type">SPF Emploi, Travail et Concertation sociale</li>
                <li class="type">Rue Ernest Blerotstraat 1</li>
                <li class="type">1070 Bruxelles / Brussel</li>
                <li class="type">BELGIQUE</li>
            </div>

            <p class="type" id="objet">
                Objet&thinsp;: {{ titre_chanson }}
            </p>
        </div>

        <div id="part2" class="overlay">
            <p class="type">Cher Monsieur Pierre-Yves Demargne,</p>

            <p class="type">
                C’est avec un grand respect que je m’adresse à vous par la présente afin de vous soumettre mes idées pour améliorer la situation de l'emploi en Belgique.
            </p>

            <p class="type">Voici mes propositions :</p>

            {% for propale in propositions %}
                <p class="type proposition">{{ loop.index }}. {{ propale }}</p>
            {% endfor %}
        </div>

        <div id="part3">
            <p class="type">
                Dans l’espoir d’obtenir une suite favorable de votre part, je vous prie d’agréer, Monsieur le Ministre, l’expression de ma considération la plus distinguée.
            </p>

            <p class="droite" id="signature">{{ nom }}</p>
        </div>

    </article>

    <button id="imprimer" onClick="imprimer()">IMPRIMER</button>

    <audio id="typing-sound" preload="auto" loop>
        <source src="static/sounds/keyboard-propre.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
    </audio>


{% endblock %}
